---
## https://developer.mozilla.org/en-US/Firefox/Enterprise_deployment
## https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Alternative_distribution_options/Sideloading_add-ons
## http://www.fvue.nl/wiki/Ansible:_Install_Firefox_extension
## http://askubuntu.com/questions/73474/how-to-install-firefox-addon-from-command-line-in-scripts
## http://kb.mozillazine.org/Installing_extensions
## https://www.morbo.org/2018/05/linux-sandboxing-improvements-in_10.html

- name: Include system-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts['system'] }}.yml"
- name: Include RedHat-specific variables
  ansible.builtin.include_vars: "RedHat.yml"
  when: ansible_facts['os_family'] == 'RedHat'

- name: Include vars if snap
  ansible.builtin.include_vars: snap.yml
  when:
    - (ansible_facts['distribution'] == "Ubuntu" and ansible_facts['distribution_major_version']|int >= 22)

- name: Ensure package firefox is installed
  ansible.builtin.package:
    pkg: firefox
    state: present
  when: ansible_facts['os_family'] == 'Debian' or ansible_facts['os_family'] == 'RedHat'

- name: Ensure target directories exist
  ansible.builtin.file:
    dest: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ fxext_dl_repo }}"
    - "{{ fxpolicies_path | dirname }}"

- name: Unix | Download extensions
  ansible.builtin.get_url:
    url: "{{ item.u }}"
    dest: "{{ fxext_dl_repo }}/{{ item.u | basename }}"
    mode: '0644'
  with_items: "{{ fxext_list }}"

- name: Unix | Ensure Mozilla Firefox distribution extensions directory exists
  ansible.builtin.file:
    path: "{{ fxroot_ext }}"
    state: directory
    mode: '0755'

- name: Unix | install extensions
  ansible.builtin.copy:
    src: "{{ fxext_dl_repo }}/{{ item.u | basename }}"
    dest: "{{ fxroot_ext }}/{{ item.id }}.xpi"
    mode: '0644'
    remote_src: yes
  with_items: "{{ fxext_list }}"

- name: Import userjs
  ansible.builtin.import_tasks: userjs.yml
  when: fx_harden_userjs | bool or (fx_template_userjs | length > 0)

- name: Enable enterprise policies
  ansible.builtin.template:
    src: "{{ fxpolicies_template }}.j2"
    dest: "{{ fxpolicies_path }}"
    mode: '0644'
    backup: "{{ firefoxconfig_backup | default(false) }}"
    validate: "python3 -mjson.tool %s"

- name: Import managedextensions
  ansible.builtin.import_tasks: managedextensions.yml
  when:
    - firefox_config_managedext_enable | bool
