{
    "logging": {
      "size": 100,
      "active": false
    },
    "mode": "rzw2v1641291152963",
    "rvs9c2l1641291201544": {
      "type": 1,
      "color": "#1937cc",
      "title": "local-tinyproxy",
      "active": true,
      "address": "127.0.0.1",
      "port": 8888,
      "proxyDNS": false,
      "username": "",
      "password": "",
      "whitePatterns": [
        {
          "title": "all URLs",
          "active": true,
          "pattern": "*",
          "type": 1,
          "protocols": 1
        }
      ],
      "blackPatterns": [],
      "pacURL": "",
      "index": 9007199254740989
    },
    "rzw2v1641291152963": {
      "type": 1,
      "color": "#66cc66",
      "title": "local-burp-zap",
      "active": true,
      "address": "127.0.0.1",
      "port": 8080,
      "proxyDNS": false,
      "username": "",
      "password": "",
      "whitePatterns": [
        {
          "title": "all URLs",
          "active": true,
          "pattern": "*",
          "type": 1,
          "protocols": 1
        }
      ],
      "blackPatterns": [],
      "pacURL": "",
      "index": 9007199254740990
    },
    "browserVersion": "95.0.1",
    "foxyProxyVersion": "7.5.1",
    "foxyProxyEdition": "standard"
  }
